@import url(http://fonts.googleapis.com/css?family=Lato);
@import url('blitzer/jquery-ui-1.8.24.custom.css');
/* 
MEYER RESET - Young Yoon 9/2/12
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SGA Custom Styles ------------------ */
/* Layout */
body {
	font: 13px Verdana, Arial, sans-serif;
	line-height: 150%;
	background: #F3F3F3;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	background: #F3F3F3;
}

#header {
	background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 65px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
	#header h1 { 
		display: inline-block;
		margin: 10px 0 0;
	}
	#header h1 a {
		display: inline-block;
		text-indent: -9999px;
		width: 359px;
		height: 47px;
		background: url('images/logo.png') no-repeat;
	}
	#header a {
		color: #FFF;
		text-decoration: none;
	}
	#header #nav a:hover {
		color: #FFF;
		background: #CC0000;
	}
	#header #nav a.active {
		color: #333;
		background: #FFF;
	}
	
	#header-wrap {
		/*width: 1000px;*/
		margin: 0 auto;
		padding: 0 2em;
		height: 65px;
	}
	
	#login {
		position: absolute;
		right: 12px;
		top: 0;
		text-align: right;
		padding: 12px;
	}
	form.login-form {
		margin-bottom: 5px;
	}
	form.login-form label {
		padding: 0 3px; margin-left: 3px;
	}
	form.login-form input[type="text"],
	form.login-form input[type="password"] {
		width: 100px;
	}
	form.login-form input[type="submit"] {
		padding: 2px 5px;
	}
	#login a { color: #99FFFF; }
	#login a:hover { text-decoration: underline; }

#content {
	width: 900px;
	padding: 2em;
	margin: 65px auto 0;
	background: #FFF;
	position: relative;
	min-height: 400px;
}

#content-emailview {
	border: 1px #333 solid;
	padding: 2em;
	width: 1000px;
	margin: 0 auto;
}

#footer {
	text-align: center;
	padding: 2px 0;
	background: #000;
	color: #FFF;
	width: 100%;
}

#footer.push {
	position: absolute;
	bottom: 0;
}


/* Main Navigation */
#header #nav {
	left: 420px;
	bottom: 0;
    display: inline-block;
    position: absolute;
}
	#header #nav ul { 
		list-style: none; 
	}
	#header #nav ul > li {
		display: inline-block;
		width: auto;
		position: relative;
		background: #666;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin-right: 5px;
	}
		#header #nav ul > li > a {
			display: inline-block;
			padding: 10px 10px;
			font-weight: bold;
			color: #FCFCFC;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
	#header #nav ul li ul {
		display: none;
		position: absolute;
		left: 0;
		top: 36px;
	}
	#header #nav ul li:hover ul {
		display: block;
		z-index: 99;
	}
	
	#header #nav ul li ul li {
		min-width: 200px;		
		background: #333;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	#header #nav ul li ul li a {
		display: block;
		font-weight: normal;
		padding: 5px 10px;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

/* MME
-------------------------------*/
div.mme h2 {
	text-align: center;
	color: #000;
	font-size: 150%;
}
div.mme h3 {
	text-align: center;
}

div.mme hr {
	color: #C00;
	background-color: #C00;
	margin: 2em 0 1em;
}
	hr.mme-big-hr { height: 5px; }
	hr.mme-medium-hr { height: 3px; }
	hr.mme-small-hr { height: 1px; }

h4.mme-heading {
	color: #C00;
	font-size: 120%;
	text-align: center;
}

div.mme-entry { position: relative; }

h5.mme-title {
	font-size: 100%;
	display: block;
	margin: -100px 0 1em;
	padding-top: 100px;
	z-index: -1;
}
	a.back-to-top {
		position: absolute;
		top: 100px;
		right: 1em;
	}

p#top {
	margin-top: -100px;
	padding-top: 100px;
}

td.mme-details-label {
	width: 100px;
}

div.mme-admin-pub {
	width: 900px;
	border-radius: 15px 15px 0 0;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -450px;
	text-align: center;
	font-size: 15px;
}

div.published {
	background: #006600;
	color: #FFF;
}

div.unpublished {
	background: #FF3300;
	color: #FFF;
}

div.mme-admin-meta {
	position: absolute;
	top: 100px;
	right: 0;
	padding: 0.2em 0.5em;
}
	div.mme-admin-meta a {
		text-decoration: none;
		color: #FFF;
	}
	div.mme-admin-meta a:hover {
		text-decoration: underline;
		font-weight: bold;
	}

ol.mme-toc {
	padding-left: 2em;
}

/* FORMS
----------------------------- */

form.sga-form {
	padding: 2em;
	background: #F3F3F3;
}

form.sga-form label {
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #666;
}

form.sga-form label.label-noclear {
	display: inline-block;
	margin-right: 0.5em;
	clear: left;
}

form.sga-form input[type="text"],
form.sga-form input[type="password"],
form.sga-form select,
form.sga-form textarea
{
	padding: 5px;
	border: 1px #BBB solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 1em;
}
	div.checkboxes {
		margin-bottom: 1em;
	}
	div.checkboxes label { vertical-align: middle; }
	form.sga-form input[type="checkbox"] { margin: 0; vertical-align: middle; }

	form.sga-form input[type="text"],
	form.sga-form textarea
	{
		width: 80%;
	}
	form.sga-form input.date { width: 100px; }

/* HORIZONTAL FORM
--------------------------------------- */
form.sga-horizontal-form label {
	display: inline-block;
	margin-right: 3px;
}

form.sga-horizontal-form input[type="text"],
form.sga-horizontal-form select,
form.sga-horizontal-form textarea
{
	border: 1px #BBB solid;
	margin-bottom: 1em;
	margin-right: 6px;
}

/* TABLES
--------------------------------------- */
table.sga-table {
	border: 1px #CC0000 solid;
	width: 100%;
}

table.sga-table td,
table.sga-table th {
	padding: 0.5em 1em;
}

table.sga-table td {
	border: 1px #CC0000 dotted;
}

table.sga-table th {
	background: #CC0000;
	color: #FFF;
	font-weight: bold;
	border: 1px #FFF dotted;
}

table.sga-table tr.even td {
	background: #F3F3F3;
}

table.sga-table tr.odd td {
	background: #FFFFFF;
}

table.sga-table tr:hover td {
	background: #FFFF99;
}

td.role {
	width: 100px;
	font-weight: bold;
	color: #666;
}

td.table-label {
	width: 150px;
}

/* RATINGS
-------------------------------- */
div#ratings-left {
	width: 375px;
	float: left;
}

div#ratings-right {
	width: 485px;
	padding: 1em;
	float: right;
}

div#ratings-numbers {
	text-align: center;
}

div.ratings-box {
	width: 60px;
	height: 60px;
	display: inline-block;
	padding: 0.5em;
	text-align: center;
	margin: 0 0.5em;
}
div.ratings-box h3 {
	font-size: 100%;
	margin: 10px 0;
}

select.short-select {
	width: 300px;
}

table.ratings-table {
	border: 1px #CC0000 solid;
	margin-bottom: 1em;
	width: 100%;
}
	table.ratings-table td, table.ratings-table th {
		border: 1px #CC0000 dotted;
		text-align: center;
		padding: 2px;
	}

	
#ratings-comments h3 {
	color: #666;
	border-bottom: 1px #CC0000 solid;
	padding-bottom: 0.5em;
}

.ratings-comment {
	border-bottom: 1px #CC0000 dotted;
}

.ratings-comment-meta {
	font-size: 11px;
	float: right;
}

/* CONTENTS
-------------------------------- */
h1 {
	font-family: 'Lato', Verdana, Tahoma, Arial, sans-serif;
	color: #CC0000;
}

h2 {
	color: #666;
	font-size: 16px;
}

a {	color: #0000CC; text-decoration: none;}
a:hover { text-decoration: underline; }
a:active, a:visited { color: #0000CC; }

a.button, input[type="submit"] {
	border: 1px #BBBBBB solid;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: inline-block;
	margin-right: 5px;
	padding: 5px 10px;
	color: #000;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(229,229,229) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(229,229,229))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}
	a.button:hover, input[type="submit"]:hover {
		border: 1px #AAA solid;
		color: #CC0000;
	}
	
.top-right {
	position: absolute;
	right: 2em;
	top: 2em;
}

input.short-input {
	width: 50px;
}

div.page-links {
	margin-top: 1em;
}
div.page-links a {
	display: inline-block;
	border: 1px #BBB solid;
	padding: 3px 5px;
}
div.page-links a:hover {
	background: #CC0000;
	color: #FFF;
}

div.clear {
	clear: both;
}

#content ul {
	padding-left: 2em;
}

div.flashdata {
	padding: 1em;
	border: 1px #CC0000 dotted;
	background: #FFCCCC;
	color: #CC0000;
	font-weight: bold;
}

form.sga-form input.login-page {
	width: 200px;
}

div.unchangeable {
	margin-bottom: 1em;
}

div.home-panel {
	width: 250px;
	float: left;
	margin: 0.5em;
	background: #F3F3F3;
	padding: 1em 1em 2em 1em;
}