/* 
MEYER RESET - Young Yoon 9/2/12
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SGA Custom Styles ------------------ */
/* Layout */
body {
	font: 13px Verdana, Arial, sans-serif;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	background: #F3F3F3;
}

#header {
	background: #000;
	color: #FFF;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
	#header h1 {
		display: inline-block;
		font-weight: bold;
		width: 200px;
	}
	#header a {
		color: #FFF;
		text-decoration: none;
	}
	#header #nav a:hover {
		color: #333;
		background: #CCC;
	}
	#header-wrap {
		/*width: 1000px;*/
		margin: 0 auto;
		padding: 0 2em;
	}
	
	#login {
		float: right;
	}

#content {
	border: 1px #333 solid;
	padding: 2em;
	width: 1000px;
	margin: 36px auto 0;
}

#footer {
	text-align: center;
	padding: 10px;
}

a.button {
	display: inline-block;
	margin: 0 1em 0 0;
	border: 1px #333 solid;
	border-radius: 10px;
	background: #fcfcfc;
	padding: 0.5em;
	color: #000;
	text-decoration: none;
}


/* Main Navigation */
h1.title {
	font-size: 100%;
}

#header #nav {
	display: inline-block;
}
	#header #nav ul { 
		list-style: none; 
	}
	#header #nav ul > li {
		display: inline-block;
		width: auto;
		position: relative;
		background: #333;
	}
		#header #nav ul > li > a {
			display: inline-block;
			padding: 10px;
		}
	#header #nav ul li ul {
		display: none;
		position: absolute;
		left: 0;
		top: 36px;
	}
	#header #nav ul li:hover ul {
		display: block;
		z-index: 99;
	}
	
	#header #nav ul li ul li {
		min-width: 200px;		
		background: #666;
	}
	#header #nav ul li ul li a {
		display: block;
		padding: 5px 10px;
	}

/* MME
-------------------------------*/
div.mme hr {
	color: #C00;
	background-color: #C00;
	margin: 2em 0 1em;
}
	hr.mme-big-hr { height: 5px; }
	hr.mme-medium-hr { height: 3px; }
	hr.mme-small-hr { height: 1px; }

h4.mme-heading {
	color: #C00;
	font-size: 150%;
	text-align: center;
}
h5.mme-title {
	font-size: 100%;
	display: inline-block;
	margin: 0 0 1em;
}

td.mme-details-label {
	width: 100px;
}

form.sga-form {
	padding: 1em;
	background: #CCC;
}

form.sga-form label {
	display: block;
}

form.sga-form input[type='submit'] {
	display: block;
}

/* Tables */
table.sga-table {
	border: 1px #CCC solid;
}

table.sga-table td,
table.sga-table th {
	border: 1px #CCC solid;
	padding: 0.5em;
}

table.sga-table tr.even td {
	background: #F1F1F1;
}

table.sga-table tr.odd td {
	background: #f7ebd1;
}

table.sga-table tr:hover td {
	background: #FFFF00;
}